body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-in-down-enter {
  transform: translateY(-15%);
}

.slide-in-down-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}

.slide-in-down-exit {
  transform: translateY(0%);
  opacity: 1;
}

.slide-in-down-exit-active {
  transform: translateY(-10%);
  opacity: 0;
  transition: all 300ms;
}

.modal-transition-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-transition-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}

.modal-transition-exit {
  transform:translateY(0);
  opacity: 1;
}

.modal-transition-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 300ms;
}