.drawer-nav-links {
  list-style: none;
  margin: 2rem 1rem;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;
  align-items: center;
}

.drawer-nav-links a {
  margin: 2rem 0;
  color: white;
  font-size: 25px;
  padding: 0.25rem;
  text-decoration: none;
}

.drawer-nav-links a:hover
.drawer-nav-links a:active,
.active {
  color: #f7e0ad;
}