.main-header {
  width: 80%;
  padding: 0 10%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.73);
}


