.nav-links {
  display: none;
}


@media only screen and (min-width: 990px) {
  .nav-links {
    list-style: none;
    margin-right: 1rem;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    margin: 0 0.5rem;
    width: 100px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0.25rem;
  }

  .nav-links a:hover {
    background-color: white;
    border-color: black;
    color: black;
  }

  /* .nav-links a {
    color: inherit;

    font-size: inherit;
  } */
}

@media only screen and (min-width: 1296px) {
  .nav-links li {
    width: 125px;
    font-size: 18px;
  }
}