@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Prompt:wght@300;500&display=swap');

.coding-skill {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0;
  margin: 0 0 0 0.5rem;
}

.skill {
  font-family: 'Montserrat', sans-serif;
  color: #ddd;
  margin: 0 0 0 0.5rem;
}

.experience-bar {
  display: flex;
  align-items: center;
}

.dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #f7e0ad;
  border-radius: 50px;
  margin: 0 0 0.03rem 0;
  padding: 0;
}

.experience {
  height: 1px;
  background-color: #f7e0ad;
}

.remainder {
  height: 1px;
  background-color: #aaa;
}
