@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@300;500&display=swap");

.resume-wrapper {
  display: flex;
  justify-content: center;
  margin: 7rem 0 3rem 0;
}

.page {
  height: 11in;
  width: 8.5in;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}

.page header {
  /* filter: url('#goo'); */
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #454545;
  color: #f7e0ad;
  /* padding: 1rem; */
  /* clip-path: polygon(
    0% 0%,
    40% 0%,
    45% 10%,
    100% 10%,
    100% 100%,
    0% 100%,
    0% 50%
  ); */
  border-bottom-left-radius: 120px;

}

.page header::before {
  content: '';
  position: absolute;
  right: 0%;
  height: 211px;
  top: -90%;
  overflow: hidden;
  width: 70%;
  background-color: white;
  border-bottom-left-radius: 50px;
}

.headshot {
  border-radius: 100px;
  width: 140px;
  height: 140px;
  margin: 1.5rem 0 3rem 4rem;
}

.title {
  margin-top: 1.75rem;
}

.first-name {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 32px;
  margin-bottom: -10px;
}

.last-name {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-top: -10px;
  font-size: 32px;
  margin-bottom: 0;
}

.profession {
  margin: 0;
  font-size: smaller;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.contact-info {
  margin: 2.5rem 1rem 1rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1pt #f7e0ad solid;
  padding: 0 3rem 0 1rem;
}

.contact-info li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.contact-info li img {
  height: 16px;
  width: 16px;
  margin-right: 1rem;
  align-self: center;
}

.contact-info li a {
  text-decoration: none;
  color: #f7e0ad;
}

.contact-info li a:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.contact-info li p {
  padding: 0;
  margin: 0;
}
