@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@300;500&display=swap");

.resume-wrapper {
  display: flex;
  justify-content: center;
  margin: 7rem 0 3rem 0;
}

.page {
  height: 11in;
  width: 8.5in;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}

.page header {
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #454545;
  color: #f7e0ad;
  clip-path: polygon(
    0% 0%,
    28% 0%,
    31% 10%,
    100% 10%,
    100% 100%,
    13.5% 100%,
    0% 50%
  );
}

.headshot {
  clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
  width: 140px;
  height: 140px;
  margin: 1.5rem 0 3rem 4rem;
}

.title {
  margin-top: 1.35rem;
}

.first-name {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 32px;
  margin-bottom: -10px;
}

.last-name {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-top: -10px;
  font-size: 32px;
  margin-bottom: 0;
}

.profession {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #f7e0ad !important;
  font-weight: 500;
  margin-top: 0.4rem;
}

.contact-info {
  margin: 2.25rem 1rem 1rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1pt #f7e0ad solid;
  padding: 0 3rem 0 1rem;
}

.contact-info li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.contact-info li img {
  height: 16px;
  width: 16px;
  margin-right: 1rem;
  align-self: center;
}

.contact-info li a {
  text-decoration: none;
  color: #f7e0ad;
}

.contact-info li a:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.contact-info li p {
  padding: 0;
  margin: 0;
}
