@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap');

.about {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.about p {
  font-family: 'Montserrat', sans-serif;
}

.about h2 {
  color: #f7e0ad;
  font-family: 'Prompt', sans-serif;
}

.social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 0;
}

@media only screen and (min-width: 990px) {
  .about {
    left: 0px;
    width: 50vw;
    margin-top: 7vh;
    margin-bottom: 3vh;
    padding: 1rem 1rem 2rem 3rem;
  }

  .about h2 {
    font-size: 3vmin;
    letter-spacing: 0.25rem;
  }

  .about p {
    line-height: 5vmin;
    font-size: 2vmin;
  }

  .about-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -5;
  }

  .about-background img {
    min-width: 100%;
  }
}
