@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap');

.about {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.about p {
  font-family: 'Montserrat', sans-serif;
}

.about h2 {
  color: #f7e0ad;
  font-family: 'Prompt', sans-serif;
}

.social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  padding: 0;
}

@media only screen and (min-width: 990px) {
  .about {
    left: 0px;
    width: 40vw;
    margin-top: 10vh;
    padding: 1rem 1rem 1rem 3rem;
  }

  .about h2 {
    font-size: 26px;
  }
  .about p {
    line-height: 35px;
    font-size: 18px;
  }

  .about-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -5;
  }

  .about-background img {
    max-width: 100%;
    height: auto;
  }
}
