.social-background {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 0;
}

.social-background:hover {
  background-color: #f7e0ad;
}

@media only screen and (min-width: 990px) {
  .social-background {
    margin-right: 20px;
    background-color: #ccc;
  }
}