.posts {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  padding-left: 0;
}

.posts li {
  margin: 0.5rem 0;
}

.blog-card {
  margin-top: 2rem !important;
}

.blog-card:hover {
  transform: scale(1.01);
}

.blog-title {
  color: #454545;
  margin: 0;
  font-size: 20px;
}

.post-info,
.post-info-reverse {
  display: flex;
  flex-direction: column;
}

.post-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.post-info article,
.post-info-reverse article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.post-info p,
.post-info-reverse p{
  padding-right: 1rem;
}

.post-date {
  font-size: 12px;
  margin: 0.25rem 0;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.tag {
  background-color: #454545;
  color: #f7e0ad;
  padding: 4px 6px;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.blog-404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blog-404 h2 {
  text-align: center;
}

@media only screen and (min-width: 990px) {
  .post-info {
    flex-direction: row;
  }

  .post-info-reverse {
    flex-direction: row-reverse;
  }

  .post-img {
    width: 40%;
    height: 17rem;
  }

  .post-info article {
    width: 60%;
  }

  .post-date {
    margin: 1rem 0;
  }

  .post-info p,
  .post-date,
  .tags {
    margin-top: 0;
  }

  .blog-card {
    margin-top: 1vw !important;
  }
}
