.comment-wrapper {
  margin: 1rem;
}

.comment {
  background-color: #dedede;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  margin: 0;
}

.comment-single {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #454545;
}

.comment-single h3 {
  font-size: smaller;
  margin: 0;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  color: #666;
}

.comment p {
  color: #555;
}

.delete-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.delete-btn button {
  padding: 0 !important;
  margin: 0 !important;
  background: none;
  color: #888;
  border: none;
}

.delete-btn button:hover {
  color: #830000;
  cursor: pointer;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.8) !important ;
}
