@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

.comment-section {
  margin: 3rem 0;
}

.comment-section header {
  background-color: #454545;
}

.comment-section header h3 {
  color: #f7e0ad;
  margin: 1rem;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.comment-section form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.comment-section input {
  padding: 1rem;
  border: none;
  background-color: #ddd;
  border-radius: 50px;
  font-size: large;
  color: #454545;
}

.comment-section input:focus {
  outline: none;
  color: #454545;
}

.comment-section button,
.comment-section a {
  margin-top: 1rem;
  width: 7rem;
  align-self: center;
}

.comment-section button {
  padding: 0.75rem !important;
}

.comment-section a {
  border: 1pt solid #454545;
  background-color: #454545;
  border-radius: 12px;
  padding: 0.75rem 0;
  text-decoration: none;
  text-align: center;
  color: #f7e0ad;
}

.comment-section a:hover {
  background-color: #f7e0ad;
  color: #454545;
}

@media only screen and (min-width: 990px) {
  .comment-section form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  .comment-section input {
    font-size: large;
    width: 85%;
    color: #454545;
  }

  .comment-section button,
  .comment-section a {
    margin: 0 0 0 1rem;
  }
}
