@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

.post-not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-not-found {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem !important;
}

.post-not-found h2 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #454545;
}

.post-not-found a {
  width: 20%;
  text-align: center;
  margin: 0 0 2rem 0;
}

.post-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.open-links {
  position: fixed;
  height: 80vh;
  width: 1.5rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #454545;
  border: 1pt solid #454545;
}

.chevron {
  position: relative;
  display: block;
  height: 20px; /*Height should be double border thickness*/
  margin-left: 5px;
}
.chevron::before,
.chevron::after {
  position: absolute;
  display: block;
  content: "";
  border: 10px solid transparent; /*Adjust chevron size*/
}
/*Change the four instances of 'top' below to rotate chevron*/
/*Use (top/right/bottom/left) where you want the back of the chevron to be*/
.chevron::before {
  right: 0;
  border-right-color: #f7e0ad; /*Chevron Color*/
}
.chevron::after {
  right: -5px; /*Adjust thickness*/
  border-right-color: #454545; /*Match chevron background colour*/
}

.post {
  width: 80%;
  margin: 7rem 10% 0 10%;
}

.post header {
  display: flex;
  flex-direction: column;
}

.post h2,
h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #454545;
}

.dates {
  flex-direction: column;
  justify-content: flex-start;
}

.dates p {
  text-align: right;
  margin-top: 0;
  padding-top: 0;
  color: #666;
}

.dates h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.post article {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #666;
}

.post ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post cite {
  font-style: normal;
}

.post a {
  word-break: break-all;
}

.post img {
  max-width: 100%;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.admin-buttons button {
  width: 7rem;
  margin-top: 2rem;
  align-self: center;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 990px) {
  .post header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .admin-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .admin-buttons button {
    width: auto;
    margin-top: 0;
  }
}
