@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

.post {
  width: 80%;
  margin: 7rem 10%;
}

.post header {
  display: flex;
  flex-direction: column;
}

.post h2, h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #454545;
}

.post article {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #666
}

.post ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post cite {
  font-style: normal;
}

.post a {
  word-break: break-all;
}

.post img {
  max-width: 100%;
}

@media only screen and (min-width: 990px) {
  .post header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
