@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

.post-not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-not-found {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem !important;
}

.post-not-found h2 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #454545;
}

.post-not-found a {
  width: 20%;
  text-align: center;
  margin: 0 0 2rem 0;
}

.post {
  width: 80%;
  margin: 7rem 10%;
}

.post header {
  display: flex;
  flex-direction: column;
}

.post h2,
h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #454545;
}

.post article {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #666;
}

.post ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post cite {
  font-style: normal;
}

.post a {
  word-break: break-all;
}

.post img {
  max-width: 100%;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.admin-buttons button {
  width: 7rem;
  margin-top: 2rem;
  align-self: center;
}

@media only screen and (min-width: 990px) {
  .post header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .admin-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .admin-buttons button {
    width: auto;
    margin-top: 0;
  }
}
